.venv/
__pycache__/
*.py[cod]
.DS_Store
data/references/cache/
data/uploads/
*.egg-info/
.pytest_cache/
data/references/aadr/*
!data/references/aadr/.gitkeep
data/references/liftover/*
!data/references/liftover/.gitkeep
data/references/cache
data/samples/*
!data/samples/demo*
